<footer class="template-footer">
    <div class="footer-info">
        {{widget('profile', 'footer-social', { 'profileType':'socialicons'})|raw}}
        {{widget('content', 'footer-copyright', {
            content: '<p>Copyright</p>'
        })|raw}}
    </div>
</footer>